html,body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin:0;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
	font-style: normal;
}


#panel_1{
	background-image: url("images/panel_1.JPG");
}

#panel_2{
	background-image: url("images/panel_2.JPG");
}
.panel {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.text_container{
	/*margin:40% 40% 40% 40%;*/
	max-width: 75%;
	margin-top: 15%;
	padding: 3%;
	display: inline-block;
	text-align: center;
	font-size: 200%;
	color:white;
	background: rgba(0, 0, 0, .8);

}

div.nav_bar{
	position: fixed;
  	top: 0;
  	width: 100%;
  	z-index: 2;
  	background: rgba(0, 0, 0, .8);
}

ul.nav_bar{
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

li.nav_bar{
	float: left;
}

li.nav_bar a{
	display: block;
 	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.image_set img{
	width: 10%;
	height: 10%;

}

h2 {
	font-weight: normal;
}

